<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <filter>
    <filter-name>NoLoginFilter</filter-name>
    <filter-class>com.servlet.filter.NoLoginFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>NoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <description></description>
    <display-name>AddStuServlet</display-name>
    <servlet-name>AddStuServlet</servlet-name>
    <servlet-class>com.servlet.AddStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStuServlet</servlet-name>
    <url-pattern>/servlet/AddStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuList</display-name>
    <servlet-name>StuList</servlet-name>
    <servlet-class>com.servlet.StuList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuList</servlet-name>
    <url-pattern>/servlet/StuList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StuListServlet</display-name>
    <servlet-name>StuListServlet</servlet-name>
    <servlet-class>com.servlet.StuListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StuListServlet</servlet-name>
    <url-pattern>/servlet/StuListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStuServlet</display-name>
    <servlet-name>EditStuServlet</servlet-name>
    <servlet-class>com.servlet.EditStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStuServlet</servlet-name>
    <url-pattern>/servlet/EditStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStuServlet</display-name>
    <servlet-name>DelStuServlet</servlet-name>
    <servlet-class>com.servlet.DelStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStuServlet</servlet-name>
    <url-pattern>/servlet/DelStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpStuServlet</display-name>
    <servlet-name>UpStuServlet</servlet-name>
    <servlet-class>com.servlet.UpStuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpStuServlet</servlet-name>
    <url-pattern>/servlet/UpStuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlet/RegServlet</url-pattern>
  </servlet-mapping>
</web-app>